log.txt
settings.cfg
Build
.directory
butler
*.blend1
*.bin
*.material
_build
*.pyc
*.o
.import
*.*~
*.save
.idea
.directory
~*
*.tmp
node_modules
package-lock.json
local.properties
.gradle
android/app/build/*
android/app/src/main/assets/fonts/*
yarn.lock

